.advantage-list__item {
}

.advantage-list__title {
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
}

.advantage-list__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
