.button {
  margin: 0;
  padding: 0;
  font-family: @main-font;
  border: none;
  cursor: pointer;

  &--like {
    display: block;
    width: 13px;
    height: 12px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-color: transparent;
  }

  &--download {
    z-index: 2;
    display: block;
    width: 280px;
    padding: 20px 0 17px 0;
    font-family: inherit;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    color: @white;
    border: 3px solid @white;
    border-radius: 30px;

    &:hover {
      color: @pink;
      background-color: @white;
    }

    &:active,
    &:focus {
      color: @pink;
      opacity: 0.3;
      background-color: @white;
    }
  }

  &--contest {
    width: 100%;
    padding: 16px 15px;
    border-radius: 2px;
    font-family: @main-font;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: @white;
    background-color: @green;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .button {
    &--download {
      width: 300px;
      margin-bottom: 45px;
      padding: 19px 0 16px 0;
      font-size: 21px;
      line-height: 21px;
    }

    &--contest {
      width: 300px;
    }
  }
}

@media (min-width: @desktop-width) {
  .button {
    &--download {
      margin-bottom: 65px;
    }
  }
}
