.contacts {
  width: 100%;
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 38px;
  text-align: center;
  font-family: @main-font;
}

.contacts__title {
  width: 224px;
  margin: 24px auto 35px auto;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.contacts__item {
  margin-bottom: 24px;
  width: 280px;
}

.contacts__item-title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.contacts__item-contact {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  color: @pink;
}

.contacts__item-link {
  color: @pink;

  &:hover {
    color: @navy-deep;
    text-decoration: underline;
  }

  &:active,
  &:focus {
    color: @grey;
    text-decoration: none;
  }
}

.contacts__item-address {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  font-style: normal;
  color: @pink;
}

.contacts__map-wrapper {
  position: relative;
  overflow: hidden;

  svg {
    position: absolute;
    z-index: 20;
    top: 0;
    left: -120px;
    height: 33px;
    fill: @white;
  }
}

.contacts__map-iframe {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 200px;
  border: none;
}

.contacts__map-picture {
  position: absolute;
  z-index: 10;
  top: 0;
}

.contacts__map-image {
  width: 100%;
  height: auto;
}

@media (min-width: @tablet-width) {
  .map {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .map {
    margin: 0;
  }
}
