.dev {
  position: relative;
  padding: 8px 42px 8px 0;
  font-family: inherit;
  text-align: right;
}

.dev__link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: inherit;
  color: @black;

  &:hover .dev__link-img {
    fill: @navy;
  }

  &:active .dev__link-img,
  &:focus .dev__link-img {
    color: @navy;
    opacity: 0.3;
  }
}

.dev__link-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 27px;
  height: 34px;
  fill: @pink;
}

@media (min-width: @tablet-width) {
  .dev {
    padding-top: 15px;
    padding-bottom: 14px;
  }

  .dev__link-img {
    top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .dev {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .dev__link {
    font-size: 18px;
    line-height: 18px;
  }

  .dev__link-img {
    top: 14px;
    left: 130px;
    width: 40px;
    height: auto;
  }
}
