.form-contest {
  max-width: 940px;
  margin: 0;
  font-family: @main-font;
}

.form-contest__name-wrapper {
  margin-bottom: 27px;
}

.form-contest__fieldset {
  position: relative;
  margin: 0;
  padding: 0 20px;
  border: 0;

  &--progress {
    padding-top: 38px;
  }

  &--platforms {
    padding-top: 34px;
    padding-bottom: 34px;
  }
}

.form-contest__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-contest__item-name {
  margin-bottom: 17px;
}

.form-contest__label {
  display: block;
  margin: 0 0 5px 22px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: @pink;
  text-transform: uppercase;
}

.form-contest__input {
  display: block;
  padding: 14px 42px 15px 20px;
  box-sizing: border-box;
  width: 100%;
  min-height: 63px;
  border: 2px solid @grey;
  border-radius: 2px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.form-contest__progress-wrapper {
  padding-top: 38px;
  padding-bottom: 4px;
  background-color: @lighgrey;
}

.form-contest__legend {
  display: block;
  box-sizing: border-box;
  padding: 0 24px;
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;
  text-align: center;

  &--contacts {
    display: none;
  }
}

.form-contest__item-progress {
  margin-bottom: 43px;
}

.form-contest__label-checkbox {
  position: relative;
  display: block;
  padding: 5px 0 4px 69px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border: 2px solid @grey;
    border-radius: 2px;
    background-color: @white;
  }

  &::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 11px;
    transform: rotate(-45deg);
    width: 21px;
    height: 10px;
    border-left: 2px solid @pink;
    border-bottom: 2px solid @pink;
  }

  &--nocheck {
    &::after {
      content: none;
    }
  }
}

.form-contest__contacts-wrapper {
  padding-top: 33px;
  padding-bottom: 41px;
}

.form-contest__platforms-wrapper {
  padding-top: 39px;
  padding-bottom: 8px;
  background-color: @lighgrey;
}

.form-contest__item-platforms {
  margin-bottom: 36px;
}

.form-contest__radio {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.form-contest__label-radio {
  position: relative;
  display: block;
  padding-left: 69px;
  padding-top: 5px;
  padding-bottom: 4px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border: 2px solid @grey;
    border-radius: 50%;
    background-color: @white;
  }

  &::after {
    content: "";
    position: absolute;
    left: 13px;
    top: 50%;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: @pink;
  }

  &--noradio {
    &::after {
      display: none;
    }
  }
}

.form-contest__comment-wrapper {
  padding-top: 39px;
  padding-bottom: 20px;
}

.form-contest__textarea {
  margin-top: 16px;
  padding: 14px 19px;
  min-height: 200px;
  resize: vertical;
}

.form-contest__button-wrapper {
  display: flex;
  flex-direction: column;
  padding: 29px 20px 15px;
}

.form-contest__footnote {
  margin-top: 36px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  span {
    color: @pink;
  }
}

@media (min-width: @tablet-width) {
  .form-contest__name-wrapper {
    padding-top: 34px;
    padding-bottom: 32px;
  }

  .form-contest__fieldset {
    padding: 0;
    border: none;
  }

  .form-contest__item-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 51px;
  }

  .form-contest__label {
    margin: 0 18px 0 0;
  }

  .form-contest__platforms-wrapper {
    order: 10;
    background-color: @white;
  }

  .form-contest__contacts-wrapper {
    order: 20;
    padding-top: 34px;
    padding-bottom: 30px;
  }

  .form-contest__progress-wrapper {
    order: 30;
    padding-top: 34px;
    padding-bottom: 30px;
    background-color: @white;
  }

  .form-contest__comment-wrapper {
    order: 40;
    padding-top: 34px;
    padding-bottom: 30px;
  }

  .form-contest__button-wrapper {
    order: 50;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0 50px;
  }
}
