.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: inherit;
}

.gallery__panorama {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.gallery__panorama-image {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
  margin-bottom: 20px;
  padding: 0;
}

.gallery__photo-link {
  display: block;
  overflow: hidden;
  width: auto;

  &--panorama {
    position: relative;
    width: auto;

    &::before {
      content: "ПАНОРАМА ДНЯ";
      position: absolute;
      top: 0;
      right: 20px;
      display: block;
      padding: 5px 22px;
      font-size: 12px;
      line-height: 24px;
      text-transform: uppercase;
      color: @white;
      background-color: @pink;
    }

    picture {
      display: flex;
    }
  }
}

.gallery__item--panorama {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.gallery__image {
  display: flex;
  width: 280px;
  height: 180px;
  margin: 0;
  padding: 0;

  &--panorama {
    width: 100%;
    height: auto;
  }
}

.gallery__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  width: 240px;
  margin: 0;
  padding: 18px 23px 20px 17px;
  background-color: @lighgrey;

  &--panorama {
    width: 252px;
    margin-bottom: 20px;
    padding: 18px 12px 20px 17px;
  }
}

.gallery__user-name {
  order: 10;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;

  &--panorama {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
  }
}

.gallery__user-name small {
  margin: 0;
  padding: 0;
  font-weight: 300;
  text-transform: uppercase;
}

.gallery__user-comment {
  order: 20;
  min-height: 25px;
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  &--panorama {
    margin: 0 0 8px 0;
    font-size: 14px;
    line-height: 24px;
  }
}

.gallery__like-wrapper {
  order: 30;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.gallery__like-stat {
  margin-left: 19px;
  padding: 0;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: @pink;
}

@media (min-width: @tablet-width) {
  .gallery__wrapper {
    width: 240px;
    padding: 24px 33px 20px 27px;

    &--panorama {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: end;
      width: 564px;
      margin-bottom: 50px;
      padding: 24px 29px 24px 27px;
    }
  }

  .gallery__list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .gallery__item:not(:nth-child(2n)) {
    margin-right: 20px;
  }

  .gallery__photo-link {
    &::before {
      top: 57px;
      right: 40px;
    }

    &--panorama {
      width: 100%;
      height: auto;
    }
  }

  .gallery__image {
    width: 300px;
    height: 300px;
  }

  .gallery__user-name {
    margin: 0;

    &--panorama {
      order: 10;
      width: 250px;
      margin: 0;
    }
  }

  .gallery__user-comment {
    min-height: 48px;
    margin-bottom: 12px;

    &--panorama {
      order: 30;
      width: 520px;
      margin: 0;
    }
  }

  .gallery__like-wrapper {
    order: 30;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0;
    padding: 0;

    &--panorama {
      order: 20;
      margin: 0;
    }
  }

  .gallery__like-stat {
    margin-right: 0;
    margin-left: 0;

    &--panorama {
      margin-right: 17px;
      margin-left: 194px;
    }
  }
}

@media (min-width: @desktop-width) {
  .gallery__wrapper {
    width: 240px;
    padding: 22px 33px 24px 27px;

    &--panorama {
      width: 881px;
      margin-bottom: 50px;
      padding: 24px 32px 22px 27px;
    }
  }

  .gallery__list {
    margin: 0;
  }

  .gallery__item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .gallery__item:not(:nth-child(3n)) {
    margin-right: 20px;
  }

  .gallery__photo-link {
    &::before {
      top: 54px;
      right: 130px;
    }

    &--panorama {
      width: 100%;
      height: auto;
    }
  }

  .gallery__image {
    width: 300px;
    height: 400px;
  }

  .gallery__item {
    margin-bottom: 54px;
  }

  .gallery__user-comment {
    &--panorama {
      width: 880px;
      min-height: 24px;
    }
  }

  .gallery__like-stat {
    &--panorama {
      margin-left: 510px;
    }
  }
}
