.main-nav {
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: @navy;
}

.main-nav__button {
  width: 24px;
  height: 24px;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}
