.main-nav {
  margin: 0;
  padding: 0;
  font-family: @main-font;
  background-color: @navy;
}

.main-nav__button {
  position: absolute;
  top: 23px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 24px;
  margin: 0;
  font-family: @main-font;
  background-repeat: no-repeat;
  background-color: transparent;
}

.main-nav__button svg {
  fill: @white;

  &:hover {
    fill: @pink;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__top {
  position: relative;
  margin: 0;
  padding: 0;
}

.main-nav__top span {
  display: block;
  width: 24px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    align-items: center;
  }

  .main-nav__button {
    top: 43px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__button {
    display: none;
  }
}
