.main-intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 21px 0;
  padding: 423px 20px 28px 20px;
  font-family: @main-font;
  background-color: transparent;

  &--off {
    padding-top: 490px;
    background-position: center;
  }
}

.main-intro::before {
  content: "";
  position: absolute;
  top: 176px;
  left: calc(50% - 160px);
  bottom: 0;
  width: 280px;
  height: 314px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}


.main-intro__title {
  z-index: 2;
  display: block;
  justify-content: center;
  width: 230px;
  margin-top: 102px;
  padding: 0;
  font-family: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: @white;
  border: 1px dashed yellow;

  &--index {
    display: none;
  }
}

.main-intro__button {
  display: block;
}

.main-intro__description {
  z-index: 2;
  display: block;
  margin: 0;
  padding: 0;
  width: 231px;
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: @white;
}

@media (min-width: @tablet-width) {
  .main-intro {
    border: 1px dashed pink;

    &--off {
      padding-top: 0;
    }
  }

  .main-intro::before {
    content: "";
    top: auto;
    left: -20px;
    width: 660px;
    height: 545px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .main-intro__title {
    display: block;
    width: 190px;
    margin-bottom: 40px;
    padding: 63px 40px 5px 40px;
    font-size: 40px;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .main-intro::before {
    content: "";
    right: 20px;
    left: auto;
    width: 960px;
    height: 645px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: right -147px bottom 0;
    background-repeat: no-repeat;
  }

  .main-intro__title {
    width: 260px;
    padding: 0 20px 50px 20px;
    font-size: 50px;
    line-height: 60px;
  }
}
