.main-intro {
  height: 732px;
  margin: 0;
  padding: 0;
  font-family: @main-font;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: @navy;

  &--inner {
    height: 271px;
    margin: 0;
    padding: 0;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
  }
}

.main-intro__wrapper-main {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-intro__wrapper-main::before {
  content: url("");
  position: absolute;
  top: 177px;
  left: 0;
  width: 280px;
  height: 314px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
}

.main-intro__wrapper-inner {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-intro__wrapper-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 271px;
  margin: 0;
  padding-top: 30px;
  font-family: @main-font;
}

.main-intro__title {
  width: 240px;
  margin-bottom: 380px;
  padding: 0;
  font-family: @main-font;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: @white;
}

.main-intro__button {
  margin-bottom: 30px;
  padding: 15px 30px;
  font-family: @main-font;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @white;
  border: 3px solid @white;
}

.main-intro__description {
  margin: 0;
  padding: 0;
  width: 231px;
  font-family: @main-font;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: @white;
}

@media (min-width: @tablet-width) {
  .main-intro {
    display: flex;
    flex-direction: row;
    height: 730px;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    &--inner {
      display: flex;
      flex-direction: column;
      width: 620px;
      padding: 0 20px;
    }
  }

  .main-intro__wrapper-main {
    width: 620px;
    padding: 0 20px;
  }

  .main-intro__wrapper-main::before {
    content: url("");
    position: absolute;
    top: 145px;
    left: 0;
    width: 660px;
    height: 545px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
  }

  .main-intro__wrapper-inner {
    width: 620px;
    padding: 0 20px;
  }

  .main-intro__wrapper-download {
    z-index: 100;
    width: 300px;
    height: 620px;
  }

  .main-intro__title {
    width: 250px;
    margin-bottom: 40px;
    font-size: 45px;
    line-height: 45px;
  }
}

@media (min-width: @desktop-width) {
  .main-intro {
    bottom: 0;
    height: 853px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    &--inner {
      width: 960px;
    }
  }

  .main-intro__wrapper-main {
    width: 940px;
    height: 729px;
    padding: 0 10px;
  }

  .main-intro__wrapper-main::before {
    content: url("");
    position: absolute;
    top: 147px;
    left: 0;
    width: 880px;
    height: 645px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
  }

  .main-intro__wrapper-inner {
    width: 620px;
    padding: 0 20px;
  }
}
