.page-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: @main-font;
  background-color: @navy-deep;
}

.page-header__title {
  margin: 0;
  padding: 32px 40px 54px 40px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  font-family: inherit;
  text-align: center;
  color: @white;

  &--index {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-header__title {
    min-height: 170px;
    padding: 70px 80px 79px 80px;
    font-size: 50px;
    line-height: 60px;

    &--index {
      display: block;
      width: 186px;
      padding: 63px 40px 5px 40px;
      font-size: 40px;
      line-height: 48px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header__title {
    width: 940px;
    margin: 0 auto;
    padding: 63px 0 51px 0;
  }
}
