.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: @main-font;
}

.page-main__title {
  width: 210px;
  font-family: @main-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  color: @navy;

  &--inner-page {
    font-size: 14px;
    line-height: 30px;
  }
}

.page-main__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  border: 1px dashed red;
}

.page-main__advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: @main-font;
  background-color: @lighgrey;
}

.page-main__list {
  margin: 0;
  padding: 0;
  font-family: @main-font;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .page-main__wrapper {
    width: @tablet-width;
  }

  .page-main__title {
    width: 600px;
    font-size: 40px;
    line-height: 50px;
  }

  .page-main__advantage {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .page-main__wrapper {
    width: @desktop-width;
  }

  .page-main__advantage {
    width: @desktop-width;
  }
}
