.page-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: @main-font;
  background-color: @navy-deep;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    width: 620px;
    padding: 0 20px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    width: 940px;
    padding: 0 10px;
  }
}
