.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  font-family: @main-font;
  background-color: @navy-deep;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 660px;
    background-color: blueviolet;
    border: 2px blue dashed;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1200px;
    background-color: red;
    border: 2px yellow dashed;
  }
}
