.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: @main-font;
  background-color: @white;
}

.page-main__title {
  width: 210px;
  margin: 0;
  padding: 46px 0 119px 0;
  font-family: inherit;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  color: @navy;
  background-color: @white;

  &--inner-page {
    width: 241px;
    margin: 45px 0 50px 0;
    padding: 0;
    font-size: 14px;
    line-height: 30px;
  }

  &--inner-form {
    width: 275px;
    margin: 0 0 15px 0;
    padding-bottom: 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;

    span {
      display: none;
    }
  }
}

.page-main__title-break {
  display: block;
  margin-bottom: 30px;
  padding: 0;

  &--replay {
    display: none;
  }

  &--photo {
    margin-bottom: 0;
  }
}

.page-main__form-contest {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-main__title {
    width: 590px;
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;

    &--inner-page {
      width: 540px;
      margin: 90px 0 78px 0;
      padding: 0;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
    }

    &--inner-form {
      width: 491px;
      margin: 45px 0 22px 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;

      span {
        display: block;
      }
    }
  }

  .page-main__title-break {
    display: none;

    &--replay {
      display: block;
      margin: 0;
    }

    &--photo {
      display: block;
      width: 418px;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main__title {
    &--inner-page {
      width: 573px;
      margin: 92px 0 88px 0;
      padding: 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
    }

    &--inner-form {
      width: 757px;
      margin: 45px 0 30px 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;

      span {
        display: inline;
      }
    }
  }

  .page-main__form-contest {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px;
  }
}
