.page-footer {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: inherit;

  &--index {
    display: none;
  }
}

.page-footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-top: 40px;
  margin-bottom: 40px;
}

.page-footer__logo .page-footer__logo-img {
  &--desktop {
    display: none;
  }
}

.page-footer__social-list {
  margin: 0 0 35px 0;
  padding: 0;
  list-style: none;
}

.page-footer__dev {
  display: flex;
  flex-direction: row;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 100%;
    margin: 0;

    &--index {
      display: block;
    }
  }

  .page-footer__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 0 39px 0;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__social-list {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer_wrap {
    padding: 70px 0 74px 0;
  }

  .page-footer__logo .page-footer__logo-img {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
