.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.post__title {
  width: 260px;
  margin: 20px 0 45px 0;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: @navy;
  background-color: @white;

  &--break {
    display: block;
    margin: 0;
  }
}

.post__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  min-height: 757px;
  margin: 0 auto;
  background-color: @lighgrey;
}

.post__image {
  display: block;
  overflow: hidden;
}

.post__image-img {
  width: 280px;
  height: 374px;
  margin: 0;
  padding: 20px 20px;
  background-color: @lighgrey;
}

.post__editor-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.post__editor-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 242px;
  margin: 20px 0 32px 0;
  padding: 0 0 30px 0;
  list-style: none;

  &::after {
    content: "";
    position: absolute;
    top: 140px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: @grey;
  }
}

.post__editor-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 25px 50px 15px;
}

.post__editor-button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  fill: @navy-deep;
  opacity: 0.3;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--active {
    fill: @pink;
    opacity: 1;
  }

  &:hover {
    fill: @navy-deep;
    opacity: 0.5;
  }

  &:active,
  &:focus {
    fill: @pink;
    opacity: 1;
  }
}

.post__editor-icon {
  display: block;

  &--crop {
    width: 44px;
    height: 44px;
  }

  &--fill {
    width: 48px;
    height: 43px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }
}

.post__editor-range {
  position: absolute;
  top: 75px;
  left: 0;
  flex-grow: 1;
  padding-top: 10px;

  &::before {
    content: "";
    display: block;
    width: 240px;
    height: 2px;
    background-color: @black;
  }

  &--crop {
    display: block;
  }

  &--fill {
    display: none;
  }

  &--contrast {
    display: none;
  }
}

.post__range-button {
  content: "";
  position: absolute;
  display: block;
  top: 3px;
  right: 33px;
  width: 15px;
  height: 15px;
  padding: 0;
  font-family: inherit;
  background-color: @white;
  border: 2px solid @pink;
  border-radius: 50%;
  cursor: pointer;

  &:active,
  &:focus {
    background-color: @pink;
  }
}

.post__button-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.post__button {
  display: block;
  width: 280px;
  margin-bottom: 12px;
  padding: 16px 0 16px 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: rgba(40, 54, 69, 0.1);
  background-color: transparent;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 30px;

  &:hover {
    color: rgba(40, 54, 69, 0.3);
    border: 3px solid rgba(40, 54, 69, 0.3);
  }

  &:active,
  &:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: @grey;
  }

  &--active {
    color: @pink;
    border: 3px solid @pink;

    &:hover {
      color: @white;
      background-color: @pink;
    }

    &:active,
    &:focus {
      color: rgba(255, 255, 255, 0.3);
      background-color: @pink;
    }
  }
}

@media (min-width: @tablet-width) {
  .post__form {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 660px;
    min-height: 511px;
    margin: 0 auto;
  }

  .post__title {
    width: 424px;
    margin: 47px 0 70px 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;

    &--break {
      display: block;
      width: 418px;
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
    }
  }

  .post__image-img {
    width: 300px;
    height: 400px;
    margin-top: 5px;
  }

  .post__editor-wrapper {
    width: 320px;
    margin: 0;
    padding: 0;
  }

  .post__editor-list {
    flex-direction: column;
    justify-content: center;
    margin: 35px 0 40px 0;
    padding: 0;
    list-style: none;

    &::after {
      display: none;
    }
  }

  .post__editor-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 275px;
    height: 45px;
    margin-bottom: 27px;
    padding: 0;

    &:nth-child(1) {
      margin-top: 30px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 275px;
      height: 1px;
      background-color: @black;
      opacity: 0.1;
    }
  }

  .post__editor-button {
    margin: 0 30px 0 3px;
    fill: @pink;
    opacity: 1;
  }

  .post__editor-icon {
    &--crop {
      width: 22px;
      height: 22px;
      margin-left: 2px;
    }

    &--fill {
      width: 24px;
      height: 22px;
      margin-left: 2px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }
  }

  .post__editor-range {
    position: relative;
    top: 0;
    right: 0;
    left: unset;
    flex-grow: 1;
    margin-bottom: 13px;
    padding-top: 10px;

    &::before {
      content: "";
      display: block;
      width: 202px;
      height: 2px;
      background-color: @black;
    }

    &--crop {
      display: block;
    }

    &--fill {
      display: block;
    }

    &--contrast {
      display: block;
    }
  }

  .post__range-button {
    &--crop {
      left: 68%;
    }

    &--fill {
      left: 10%;
    }

    &--contrast {
      left: 45%;
    }
  }

  .post__button {
    width: 260px;
    margin-bottom: 24px;
    padding: 16px 0 16px 0;

    &:nth-child(2) {
      margin-bottom: 54px;
    }
  }
}

@media (min-width: @desktop-width) {
  .post {
    margin-bottom: 20px;
  }

  .post__title {
    width: 424px;
    margin: 6px 0 67px 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;

    &--break {
      display: block;
      width: 418px;
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
    }
  }

  .post__form {
    width: 940px;
    min-height: 514px;
  }

  .post__image-img {
    margin-top: 0;
    padding: 55px 70px 55px 80px;
  }

  .post__editor-wrapper {
    width: 470px;
  }

  .post__editor-list {
    width: 410px;
    margin: 0 60px 0 0;
    padding: 48px 0 147px 0;
  }

  .post__editor-item {
    width: 410px;
    height: 45px;

    &:nth-child(1) {
      margin-top: 0;
      margin-bottom: 17px;
      padding-bottom: 12px;
    }

    &:nth-child(2) {
      margin-bottom: 18px;
      padding-bottom: 13px;
    }

    &:nth-child(3) {
      margin-bottom: 0;
      padding-bottom: 6px;
    }

    &::after {
      width: 410px;
    }
  }

  .post__editor-range {
    top: 10px;

    &::before {
      width: 288px;
    }

    &--contrast {
      top: 3px;
    }
  }

  .post__editor-button {
    &--crop {
      margin: 0 48px 0 0;
    }

    &--fill {
      margin: 0 44px 0 0;
    }

    &--contrast {
      margin: 0 54px 0 0;
    }
  }

  .post__editor-icon {
    &--crop {
      width: 44px;
      height: 44px;
      margin-left: 0;
    }

    &--fill {
      width: 48px;
      height: 43px;
      margin-left: 0;
    }

    &--contrast {
      width: 32px;
      height: 32px;
      margin-left: 6px;
    }
  }

  .post__range-button {
    &--crop {
      left: 22%;
    }

    &--fill {
      left: 77%;
    }

    &--contrast {
      left: 50%;
    }
  }

  .post__button-wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 410px;
    margin-right: 60px;
  }

  .post__button {
    width: 183px;
    max-height: 55px;
    margin-bottom: 0;

    &:nth-child(1) {
      margin-right: 44px;
    }
  }
}
