.price {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: @main-font;
  background-color: @lighgrey;

  h3 {
    margin: 0;
    padding: 0;
  }

  svg {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    fill: @white;
  }
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.price__table {
  width: 940px;
  margin-bottom: 98px;
  table-layout: fixed;
  line-height: 30px;
  text-align: center;
  border-collapse: collapse;
}

.price__table-title {
  width: 233px;
  height: 94px;
  color: @white;
  text-transform: uppercase;
  background-color: @navy-deep;
}

.price__table-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.price__table-price {
  font-weight: 300;
}

.price__option {
  width: 234px;
  height: 59px;
  font-size: 18px;
  line-height: 30px;
  color: @navy;
  background-color: @white;
  border: 2px solid @grey;
}

.price__value {
  background-color: @white;
  border: 2px solid @grey;
}
