.price {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 91px 0 0 0;
  font-family: @main-font;
  background-color: @lighgrey;

  h3 {
    margin: 0;
    padding: 0;
  }
}

.price__triangle {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  fill: @white;
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.price__table {
  position: relative;
  left: 50%;
  transform: translateX(-27%);
  width: 940px;
  margin-bottom: 98px;
  table-layout: fixed;
  line-height: 30px;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}

.price__table-title {
  width: 233px;
  height: 94px;
  color: @white;
  text-transform: uppercase;
  background-color: @navy-deep;
}

.price__table-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.price__table-price {
  font-weight: 300;
}

.price__option {
  width: 234px;
  height: 59px;
  font-size: 18px;
  line-height: 30px;
  color: @navy;
  background-color: @white;
  border: 2px solid @grey;
}

.price__value {
  position: relative;
  text-align: left;
  background-color: @white;
  border: 2px solid @grey;
}

.price__value-mobile {
  display: inline-block;
  margin-left: 22px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.price__function {
  position: absolute;
  right: 19px;
  display: inline-block;

  &--yes {
    top: 18px;
  }

  &--no {
    top: 19px;
  }
}

.price__icon {
  display: block;
  margin: 0;
  fill: @black;

  &--yes {
    width: 31px;
    height: 21px;
    fill: @darkgreen;
  }

  &--no {
    width: 26px;
    height: 26px;
    fill: @red;
  }
}

.price__slider {
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

.price__toggle {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin: 0 13px 0 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: @red;
  cursor: pointer;

  &:nth-child(3) {
    margin: 0;
  }

  &:hover {
    background-color: @grey;
  }

  &--active {
    width: 12px;
    height: 12px;
    border: 3px solid @black;
    background-color: @white;
  }
}

@media (min-width: @tablet-width) {

}
