.promo {
  display: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: @main-font;
  background-color: @lighgrey;
  border: 1px dashed black;
}

.promo__title {
  width: 300px;
  margin: 0;
  padding: 0;
}

.promo__text {
  display: block;
  width: 350px;
  margin: 0;
  padding: 0;
}

.promo__link {
  display: block;
  color: @pink;
  text-decoration: underline;
}

@media (min-width: @tablet-width) {
  .promo {
    position: relative;
    display: block;
    background-color: @white;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    margin: 0;
    padding: 0;
    background-color: @lighgrey;
  }

  .promo svg {
    content: "";
    position: absolute;
    top: 20px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
  }
}
